{
  "serviceName": "{{ .ServiceTitle }}",
  "addr": "{{ .DefaultAddr }}",
  "healthAddr": "{{ .DefaultHealthAddr }}",
  "rateLimit": {{ .DefaultRateLimit }},
  "rateBurst": {{ .DefaultRateBurst }},
  "enableMCP": {{ .WithMCP }},
  "enableHardenedMode": true,
  "logLevel": "INFO"
}
