{
  "serviceName": "{{ .ServiceTitle }}",
  "addr": "{{ .DefaultAddr }}",
  "healthAddr": "{{ .DefaultHealthAddr }}",
  "rateLimit": {{ .DefaultRateLimit }},
  "rateBurst": {{ .DefaultRateBurst }},
  "enableMCP": {{ .WithMCP }},
  "logLevel": "WARN"
}
