module {{ .Module }}

go 1.27

require (
	github.com/osauer/hyperserve {{ .HyperserveVersion }}
	golang.org/x/time v0.15.0
)

{{- if .LocalReplace }}

replace github.com/osauer/hyperserve => {{ .LocalReplace }}
{{- end }}
